@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados adicionales si los necesitas */

:root {
  // Colores Generales
  --color-primary: #548D95;
  --color-secondary: #76C1C3;
  --color-tertiary: #B2C568;
  --color-neutral: #3C3C3C;
  --color-success: #81C784;
  --color-error: #E57373;
  --color-warning: #FFEB3B;

  // Tamaño Textos
  --size-h1: 36px;
  --size-h2: 28px;
  --size-h3: 24px;
  --size-p: 14px;
  --size-et: 14px; // Enunciado Tabla
  --size-pt: 12px; // Parrafo Tabla

  // Fuentes y peso
  --font-title: "Montserrat";
  --weight-h1: 700;
  --weight-h2: 600;
  --weight-h3: 500;
  --weight-regular: 400;
  --font-paragraph: sans-serif;

  // Espaciados
  --spacing-xs: 8px; // Espaciado pequeño - espacio entre una etiqueta y su campo de entrada
  --spacing-sm: 16px; // Espaciado mediano - Entre campos de formulario
  --spacing-md: 24px; // Espaciado largo - Separación entre bloques de contenido como formularios o listas
  --spacing-xl: 32px; // Espaciado extra largo - Espaciado entre grupos de campos
  --spacing-xxl: 56px; // Espaciado mas largo - Entre contenedores grandes o secciones principales

  // Espaciados internos botones
  --spacing-button-y: 12px;
  --spacing-button-x: 24px;

  // Margin entre botones consecutivos
  --margin-buttons-x: 12px;
}

body {
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

label, p {
  font-family: var(--font-paragraph);
  font-size: var(--size-p);
  font-weight: var(--weight-regular);
  color: var(--color-neutral);
}

h1 {font-size: var(--size-h1); font-weight: var(--weight-h1); color: var(--color-primary)}
h2 {font-size: var(--size-h2); font-weight: var(--weight-h2); color: var(--color-primary)}
h3 {font-size: var(--size-h3); font-weight: var(--weight-h3); color: var(--color-neutral)}
h4 {font-size: var(--size-h4); font-weight: var(--weight-regular); color: var(--color-neutral)}
h5 {font-size: var(--size-h5); font-weight: var(--weight-regular); color: var(--color-neutral)}
h6 {font-size: var(--size-h6); font-weight: var(--weight-regular); color: var(--color-neutral)}

.primary {
  background-color: var(--color-primary);
}

.nav-color {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
}

.nav-item {
  background-color: var(--color-primary);
  font-weight: 700;
}

.bg-green:hover {
  background-color: var(--color-primary);
}

.encabezado-tabla {
  font-size: var(--size-et);
  color: var(--color-primary);
}

.texto-tabla {
  font-size: var(--size-pt);
  color: var(--color-neutral);
}

.button-success {
  background-color: var(--color-success);
}

.button-error {
  background-color: var(--color-error);
}

.form-button {
  padding: var(--spacing-button-y) var(--spacing-button-x);
  margin-right: var(--margin-buttons-x);
  border-radius: 10px;
}

.success {
  background-color: var(--color-success);
  color: var(--color-neutral);
}

.button-hover {
  transition: .1s;
}

.button-hover:hover {
  scale: 1.1;
}

.error {
  background-color: var(--color-error);
  color: var(--color-neutral);
}

.warning {
  background-color: var(--color-warning);
  color: var(--color-neutral);
}

.footer {
  margin-top: auto;
}

input {
  margin-top: var(--spacing-xs);
}

.campo {
  margin-right: var(--spacing-sm);
  margin-top: var(--spacing-xl);
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
